main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.tit{
  margin-top: 50px; margin-bottom: 0;
}
.todoItem {
  width: 500px;
  height: 50px;
  border-bottom: 3px dotted skyblue;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-bottom: 17px;
}
.wrap {display: flex; align-items: center;}
.input_area {
  width: 400px;
  height: 30px;
  border: 2px solid #d7d7d7;
  border-radius: 7px;
  text-align: center;
}
.btn{
  margin-left: 10px;
  background: #ffffff;
  width: 54px;
  height: 30px;
  border-radius: 7px;
  border: 2px solid #d7d7d7;
  font-weight: 900;
  color: #4b4b4b;
  cursor: pointer;
}
.remove_btn {
  font-size: 11px;
  position: absolute;
  right: 10px;
  border: 0;
  cursor: pointer;
  color: #4c4c4c;
  bottom: 5px;
  background-color: transparent;
}
.id_num {
  position: absolute;
  left: 20px;
  font-weight: lighter;
  bottom: 10px;
}

.chk {
  position: absolute;
  left: 10px;
}

.on {
  background-color: #8080801f;
}

.edit_btn {
  bottom: 5px;
  position: absolute;
  right: 60px;
  font-size: 11px;
  color: #4c4c4c;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.edit_box input{
  width: 250px;
  border: 0;
  border-bottom: 1px solid #626262;
}
.edit_box input:focus {
  outline: 0;
}
.save_btn {
  position: absolute;
  right: 10px;
  font-size: 11px;
  background: transparent;
  border: 0;
  color: #4c4c4c;
  bottom: 5px;
  cursor: pointer;
}